html,
body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: #ffc281;
  margin: auto; /* center it horizontally  */
  height: 100vh; /*take up 100% of vert height */
  height: -webkit-fill-available;
  height: fill-available;
}

h1 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  border: double;
  text-align: center;
}

p {
  padding: 20px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

#box {
  background-color: var(--red);
  padding: 0 20px;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.holding_box {
  border: 1px solid black;
  margin: 50px;
  padding: 50px;
  justify-content: center;
}
.inner_box {
  text-align: center;
  justify-content: center;
}

.image_button_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 181px;
  height: 50px;
  margin: 10px;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: #000;
  background-color: #a9bcd0;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 50px;
}

.button:hover {
  background-color: #a9bcd0;
  box-shadow: 0px 15px 20px #373f51;
  color: #fffaf0;
  transform: translateY(-7px);
}

.text-data {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 550;
  color: #000;
}

.left,
.right {
  height: 50%;
  width: 50%;
  position: relative;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.option-row {
  display: inline flex;
}

#reset-button {
  position: absolute;
  left: 55%;
  bottom: 5.5%;
  margin: 5px;
  background-color: transparent;
  border: 3px solid #d3d3d3;
  border-radius: 5px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #d3d3d3;
}

#reset-button:hover {
  box-shadow: 0 0 10px 0 #d3d3d3 inset, 0 0 20px 2px #d3d3d3;
  border: 3px solid #d3d3d3;
}

#evolve-button {
  position: absolute;
  left: 38%;
  bottom: 5.5%;
  margin: 5px;
  background-color: transparent;
  border: 3px solid #d3d3d3;
  border-radius: 5px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #d3d3d3;
}

#evolve-button:hover {
  box-shadow: 0 0 10px 0 #d3d3d3 inset, 0 0 20px 2px #d3d3d3;
  border: 3px solid #d3d3d3;
}
